<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon List</title>
    <link rel="stylesheet" href="/dexPhp/public/css/style.css">


</head>
<body>
    <h1>Pokemon List</h1>
    <div class="container">
        {% for poke_1 in pokemon %}
            <div class="pokemon-card">
                <div class="pokemon-image">
                  <img src="{{ poke_1.image }}" alt="{{ poke_1.pokename }}">
                </div>
                <div class="pokemon-details">
                    <p>Nummer: {{ poke_1.id }}</p>
                    <p>Name: {{ poke_1.pokename }}</p>
                    <p>Typ: {{ poke_1.element }}</p>
                    <a href="/dexPhp/pokemon/{{ poke_1.pokename }}/entry" class="detail-link">Link zu Details</a>
                    <a href="/dexPhp/pokemon/{{ poke_1.pokename }}/entry" class="pokedex-link">Pokedexentry</a>
                </div>
            </div>
    
        {% else %}
            <p>No pokemon available.</p>
        {% endfor %}
    </div>
</body>
</html>
